name: Docker Hub to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          # 使用你的长串域名
          registry: crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com
          # 直接填入字符串，记得加引号
          username: "aliyun7784950146"
          password: "@hjl287589225"

      - name: Pull and Push
        run: |
          # 1. 拉取原始镜像
          docker pull diouxx/glpi:latest
          
          # 2. 标记镜像（推送到 images 仓库）
          docker tag diouxx/glpi:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
          
          # 3. 推送
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
