name: Sync GLPI(diouxx) and Deps to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com
          username: "aliyun7784950146"
          password: "@hjl287589225"

      - name: Sync Images
        run: |
          # 1. 同步 diouxx/glpi
          docker pull diouxx/glpi:latest
          docker tag diouxx/glpi:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:latest
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:latest

          # 2. 同步 MariaDB (diouxx 镜像通常建议配合 MariaDB 使用)
          docker pull mariadb:10.5
          docker tag mariadb:10.5 crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-db:10.5
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-db:10.5

          # 3. 同步 Mosquitto
          docker pull eclipse-mosquitto:latest
          docker tag eclipse-mosquitto:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-mqtt:latest
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-mqtt:latest
