name: Sync Flyve MDM to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com
          username: "aliyun7784950146"
          password: "@hjl287589225"

      - name: Sync GLPI Image
        run: |
          docker pull flyve/glpi:latest
          docker tag flyve/glpi:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:latest
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:latest

      - name: Sync Database Image
        run: |
          docker pull mariadb:10.3
          docker tag mariadb:10.3 crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-db:10.3
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-db:10.3

      - name: Sync MQTT Image
        run: |
          docker pull eclipse-mosquitto:latest
          docker tag eclipse-mosquitto:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-mqtt:latest
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-mqtt:latest
