name: Sync GLPI(diouxx) and Deps to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com
          username: "aliyun7784950146"
          password: "@hjl287589225"

      - name: Sync GLPI 9.5 Image
        run: |
          # 拉取 9.5 版本的镜像
          docker pull diouxx/glpi:9.5.1
          docker tag diouxx/glpi:9.5.1 crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:9.5.1
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/flyve-glpi:9.5.1
