name: Docker Hub to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          # 注意：这里只写域名，不要带 /my_docker_hjj/images
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Pull and Push
        run: |
          # 1. 拉取原始镜像
          docker pull diouxx/glpi:latest
          
          # 2. 标记为你阿里云的私有仓库地址
          # 格式：域名/命名空间/仓库名:标签
          docker tag diouxx/glpi:latest registry.cn-hangzhou.aliyuncs.com/my_docker_hjj/glpi:latest
          
          # 3. 推送
          docker push registry.cn-hangzhou.aliyuncs.com/my_docker_hjj/glpi:latest
