name: Docker Hub to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          # 建议统一使用你提到的那个长串域名
          registry: crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Pull and Push
        run: |
          # 1. 拉取原始镜像
          docker pull diouxx/glpi:latest
          
          # 2. 标记镜像
          # 格式：域名/命名空间/仓库名:标签
          # 既然你仓库名是 images，这里最后一定要写 /images:latest
          docker tag diouxx/glpi:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
          
          # 3. 推送到阿里云
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
