name: Docker Hub to Aliyun ACR

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Debug and Login
        run: |
          # 检查变量是否为空（如果为空会直接报错退出）
          if [ -z "${{ secrets.ACR_USERNAME }}" ]; then echo "ERROR: USERNAME IS EMPTY"; exit 1; fi
          if [ -z "${{ secrets.ACR_PASSWORD }}" ]; then echo "ERROR: PASSWORD IS EMPTY"; exit 1; fi
          
          # 手动执行登录，看看详细报错
          echo "${{ secrets.ACR_PASSWORD }}" | docker login crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com --username "${{ secrets.ACR_USERNAME }}" --password-stdin

      - name: Pull and Push
        run: |
          # 1. 拉取原始镜像
          docker pull diouxx/glpi:latest
          
          # 2. 标记镜像
          # 格式：域名/命名空间/仓库名:标签
          # 既然你仓库名是 images，这里最后一定要写 /images:latest
          docker tag diouxx/glpi:latest crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
          
          # 3. 推送到阿里云
          docker push crpi-g0k8beusue76m4g0.cn-hangzhou.personal.cr.aliyuncs.com/my_docker_hjj/images:latest
